### Importing the Leukemia Dataset

In [6]:
import pandas as pd
import numpy as np
df = pd.read_csv('C:/Users/holly/OneDrive/Bureau/PUBH1142/leukemiadata.csv')

### Sanity Check

In [7]:
df.head()

,age_group,behaviour,ethnicity,histology_code_idc_o_3,method_of_diagnosis,race,report_source,sex,stage_of_disease
0,20 to 24,Malignant,Non-Hispanic (including Unknown),9811,Positive Histology,White,Hospital or Clinic,Female,Distant
1,40 to 44,Malignant,Non-Hispanic (including Unknown),9811,Positive Histology,White,Hospital or Clinic,Male,Distant
2,40 to 44,Malignant,Non-Hispanic (including Unknown),9811,Positive Histology,Other,Hospital or Clinic,Male,Distant
3,45 to 49,Malignant,Hispanic,9811,Positive Histology,White,Hospital or Clinic,Male,Distant
4,60 to 64,Malignant,Non-Hispanic (including Unknown),9811,Positive Histology,White,Hospital or Clinic,Male,Distant

In [13]:
df.shape

(194, 9)

In [11]:
df.columns

Index(['age_group', 'behaviour', 'ethnicity', 'histology_code_idc_o_3',
       'method_of_diagnosis', 'race', 'report_source', 'sex',
       'stage_of_disease'],
      dtype='object')

In [12]:
df.describe()

       histology_code_idc_o_3
count              194.000000
mean              9833.737113
std                  6.011040
min               9811.000000
25%               9835.000000
50%               9835.000000
75%               9836.000000
max               9837.000000

In [14]:
df.dtypes

age_group                 object
behaviour                 object
ethnicity                 object
histology_code_idc_o_3     int64
method_of_diagnosis       object
race                      object
report_source             object
sex                       object
stage_of_disease          object
dtype: object